
<h1><% provide(:title, "Home") %></h1>

<div class="jumbotron ">
  <h1 class="display-3"><%= yield(:title) %></h1>
  <p class="lead">A Practice Ruby on Rails application.</p>
  <hr class="my-2">
  <p>This application makes calls to the Nasa API available here. https://nasa.api.gov</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/apod" role="button">Astronomy Picture of the Day</a>
  </p>
</div>




