
<% provide(:title, "API List") %>


  
  


<div class="list-group">
  <a href="#!" class="list-group-item active"><%= yield(:title) %></a>
  <a href="/apod" class="list-group-item list-group-item-action">APOD</a>
  <a href="/eonet" class="list-group-item list-group-item-action">EONET</a>
</div>

